@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: dana, sans-serif;
  }
}

.full-width {
  max-width: 100vw;
  min-width: 98vw;
}

.ss02 * {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.Toastify * {
  font-family: dana, sans-serif;
}

#headlessui-portal-root * {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
